<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listStudentsControl</servlet-name>
        <servlet-class>Control.list.listStudentsControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createStudent</servlet-name>
        <servlet-class>Control.create.createStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveNewStudents</servlet-name>
        <servlet-class>Control.saveNewStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudent</servlet-name>
        <servlet-class>Control.delete.deleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatestudent</servlet-name>
        <servlet-class>Control.updatestudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listTeacherControl</servlet-name>
        <servlet-class>Control.list.listTeacherControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTeacher</servlet-name>
        <servlet-class>Control.create.createTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTeacher</servlet-name>
        <servlet-class>Control.delete.deleteTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateteacher</servlet-name>
        <servlet-class>Control.updateteacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listClass</servlet-name>
        <servlet-class>Control.list.listClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listLevel</servlet-name>
        <servlet-class>Control.list.listLevel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listLevels</servlet-name>
        <servlet-class>Control.list.listLevels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createLevel</servlet-name>
        <servlet-class>Control.create.createLevel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteLevel</servlet-name>
        <servlet-class>Control.delete.deleteLevel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatelevel</servlet-name>
        <servlet-class>Control.updatelevel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCourse</servlet-name>
        <servlet-class>Control.list.listCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCourse</servlet-name>
        <servlet-class>Control.create.createCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createClass</servlet-name>
        <servlet-class>Control.create.createClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatecourse</servlet-name>
        <servlet-class>Control.updatecourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCourse</servlet-name>
        <servlet-class>Control.delete.deleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listClassStudent</servlet-name>
        <servlet-class>Control.list.listClassStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateclass</servlet-name>
        <servlet-class>Control.updateclass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteClass</servlet-name>
        <servlet-class>Control.delete.deleteClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterClass</servlet-name>
        <servlet-class>Control.list.filterClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudentInClass</servlet-name>
        <servlet-class>Control.create.addStudentInClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudentClass</servlet-name>
        <servlet-class>Control.delete.deleteStudentClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateClassStudent</servlet-name>
        <servlet-class>Control.updateClassStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listMark</servlet-name>
        <servlet-class>Control.list.listMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginControl</servlet-name>
        <servlet-class>Other.loginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutControl</servlet-name>
        <servlet-class>Other.logoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminHome</servlet-name>
        <servlet-class>Other.adminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterMark</servlet-name>
        <servlet-class>Control.list.filterMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAT</servlet-name>
        <servlet-class>Control.list.listAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminControler</servlet-name>
        <servlet-class>Other.adminControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentHome</servlet-name>
        <servlet-class>Other.studentHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherHome</servlet-name>
        <servlet-class>Other.teacherHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createMark</servlet-name>
        <servlet-class>Control.create.createMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchControl</servlet-name>
        <servlet-class>Other.searchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfile</servlet-name>
        <servlet-class>Control.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listMarkS</servlet-name>
        <servlet-class>controlStudent.listMarkS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProfileT</servlet-name>
        <servlet-class>Control.updateProfileT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addmark</servlet-name>
        <servlet-class>Control.create.addmark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMark</servlet-name>
        <servlet-class>Control.delete.deleteMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateMark</servlet-name>
        <servlet-class>Control.updateMark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccount</servlet-name>
        <servlet-class>Control.create.createAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>Control.delete.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAccount</servlet-name>
        <servlet-class>Control.updateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listStudentsControl</servlet-name>
        <url-pattern>/listStudentsControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createStudent</servlet-name>
        <url-pattern>/create-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveNewStudents</servlet-name>
        <url-pattern>/save-new-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudent</servlet-name>
        <url-pattern>/delete-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatestudent</servlet-name>
        <url-pattern>/update-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listTeacherControl</servlet-name>
        <url-pattern>/list-teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTeacher</servlet-name>
        <url-pattern>/create-teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTeacher</servlet-name>
        <url-pattern>/delete-teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateteacher</servlet-name>
        <url-pattern>/update-teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listClass</servlet-name>
        <url-pattern>/list-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listLevel</servlet-name>
        <url-pattern>/list-level</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listLevels</servlet-name>
        <url-pattern>/list-levels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createLevel</servlet-name>
        <url-pattern>/create-level</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteLevel</servlet-name>
        <url-pattern>/delete-level</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatelevel</servlet-name>
        <url-pattern>/update-level</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCourse</servlet-name>
        <url-pattern>/list-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCourse</servlet-name>
        <url-pattern>/create-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createClass</servlet-name>
        <url-pattern>/create-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatecourse</servlet-name>
        <url-pattern>/update-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCourse</servlet-name>
        <url-pattern>/delete-course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listClassStudent</servlet-name>
        <url-pattern>/list-class-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateclass</servlet-name>
        <url-pattern>/update-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteClass</servlet-name>
        <url-pattern>/delete-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterClass</servlet-name>
        <url-pattern>/filter-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudentInClass</servlet-name>
        <url-pattern>/add-student-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudentClass</servlet-name>
        <url-pattern>/delete-student-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateClassStudent</servlet-name>
        <url-pattern>/update-student-class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listMark</servlet-name>
        <url-pattern>/list-mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginControl</servlet-name>
        <url-pattern>/login-control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutControl</servlet-name>
        <url-pattern>/logoutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminHome</servlet-name>
        <url-pattern>/adminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterMark</servlet-name>
        <url-pattern>/filter-class-mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAT</servlet-name>
        <url-pattern>/listAT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminControler</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentHome</servlet-name>
        <url-pattern>/studentHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacherHome</servlet-name>
        <url-pattern>/teacherHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createMark</servlet-name>
        <url-pattern>/create-mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfile</servlet-name>
        <url-pattern>/update-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listMarkS</servlet-name>
        <url-pattern>/list-markS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProfileT</servlet-name>
        <url-pattern>/updateProfileT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addmark</servlet-name>
        <url-pattern>/add-mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMark</servlet-name>
        <url-pattern>/delete-mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateMark</servlet-name>
        <url-pattern>/update-mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccount</servlet-name>
        <url-pattern>/create-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/delete-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAccount</servlet-name>
        <url-pattern>/update-account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
